<%- include('partials/header') -%>
   <h1>Home</h1>
   <p><%=homeContent%></p>
    <%posts.forEach(function(post){%>
        <h1><%=post.Title%></h1>
        <p><%=post.Content.substring(0,100)+" ..."%> <a href="https://blogapp-4adg.onrender.com/posts/<%=post._id%>">Read More.</a></p>
    <%})%>
   
<%- include('partials/footer') -%>